.results {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 10px;
  background-color: black;
}

.textsearch {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  justify-self: center;
  align-self: center;
}

.item {
  display: flex;
  align-items: center;
  /*  justify-items: space-around; */
  margin: 0 0 0.2em 0;
  background: #0064d3;
  border-radius: 10px;
  padding: 0.5rem;
}

.item a {
  color: white;
  font-size: 0.8rem;
}

.item .label {
  color: var(--blue1);
}

.label > * {
  border: 2px solid red;
}

.itemloading {
  background: red;
}

.active {
  background-color: #203c56;
  border: 5px solid var(--blue1);
}
