.results {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 10px;
  background-color: black;
}

.textsearch {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  justify-self: center;
  align-self: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 0.5em;
  padding: 1em;
  background: #0064d3;
  border-radius: 10px;
  padding: 0.5rem;
}

.item a {
  color: white;
}

.itemloading {
  background: red;
}

.active {
  background-color: red;
}
