body {
  padding: 0;
  margin: 0;
  background: #e0e5ec;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20px 450px 20px;
  /* align-items: center; */
  justify-items: center;
}

.audio-player {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 0;
}

.neu {
  box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
  background: #e0e5ec;
  border-radius: 2em;
  border: 0;
}

.btn {
  padding: 15px;
  border-radius: 30px;
  color: #7e8a98;
  outline: none;
  cursor: pointer;
}
.btn.lg {
  font-size: 1em;
}
.btn:active {
  cursor: pointer;
  box-shadow: inset -5px -5px 15px 0px #ffffff9e,
    inset 5px 5px 15px 0px #a3b1c6a8;
}

.seekbar-outline,
.volume-outline {
  margin-top: 0.5rem;
  border: 1px solid black;
  width: 100%;
}

.seekbar,
.volumebar {
  border-top: 10px solid blue;
  /* height: 10px; */
  width: 0;
  /* margin: 0.5rem 0 0.5rem 0; */
}

.seekbar-outline:hover {
  cursor: pointer;
}
